body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-image: url('https://i.imgur.com/VjRLSLD.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  font-size: 10vw;
  flex-wrap: wrap;
  margin-top: 5vw;
}

.form {
  margin: 5vw auto;
  width: 80%;
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2vw;
  box-shadow: 0 0 1vw 0 rgba(0,0,0,0.2);
}

.form label, .form select {
  display: inline-block;
  width: 100%;
  margin: 5vw 0;
  color: #1a1a1a;
  font-size: 4vw;
}

.form select {
  margin: 5vw auto;
  padding: 3vw;
  border-radius: 1vw;
  border: 0.2vw solid #1a1a1a;
  font-size: 4vw;
}

.form input[type=number] {
  padding: 3vw;
  border-radius: 1vw;
  border: 0.2vw solid #1a1a1a;
  font-size: 4vw;
}

.result {
  margin: 5vw auto;
  width: 80%;
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2vw;
  box-shadow: 0 0 1vw 0 rgba(0,0,0,0.2);
}

button {
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  border-radius: 1vw;
  padding: 3vw 6vw;
  font-size: 4vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #16d38e;
}

#resultLabel {
  color: #1a1a1a;
  font-size: 5vw;
  margin: 5vw 10vw;
}
